---
import "../styles/global.css";
import Social from "./Social.astro";
import { Image } from 'astro:assets';
import logo from '../Imagenes/Banner.png'

const platform = "github";
const username = "Jaumebr2001";
const platform2 = "twitter";
const username2 = "JBR2001";
---

<footer class="bg-tercero shadow  m-0 h-auto">
    <div
        class="w-full mx-auto max-w-screen-xl p-4 flex items-center justify-around md:flex md:items-center md:justify-around mt-4"
    >
    <Image src={logo} class="h-50 w-60" alt="El gato observador" />
    <span class="text-sm text-yellow-300 sm:text-center "
            >© 2024 <a href="https://blog-arnau.netlify.app/" class="hover:underline"
                >Blog Arnau™</a
            >. All Rights Reserved.
        </span>
        <Social platform={platform} username={username} platform2={platform2} username2={username2}/>    
    </div>
</footer>
